@model WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Użytkownik @Model.UserName został wylogowany ...</h4>

<a class="btn btn-primary" href="@Url.Action("List","Product")">Powrót</a>